<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= movie.title %> </title>
    <%- include('./../views/partials/header') %>

</head>
<body>
    <h1><%= movie.title %> </h1>    
    <br>
    <img class="foto-pelicula" src="/img/<%= movie.imagen %>">
    <p>RATING: <%= movie.rating %> </p>
    <p>PREMIOS: <%= movie.awards %> </p>
    <p>DURACION: <%= movie.length + ' min'%> </p>
    <p>ESTRENO: <%= movie.release_date %> </p>
    
    <br>
    <section>
        <a class="botonModificar" href="/movies/edit/<%= movie.id%>">Editar</a>
        <br></br>
        <a href="/movies/delete/<%= movie.id%>" class="botonBorrar">Eliminar</a>
        <br></br>
        <a class="botonVolver" href="/movies">Volver</a>
    </section>

</body>
</html>